In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline
from colorama import Fore, Style

In [5]:
explore_df= pd.read_csv('..\data\Headway Data.csv')

In [6]:
explore_df

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981710,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.016666
1981711,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,7.633333,-2.366667,1,0,0,0,0.0,0,2,9.900000
1981712,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,3,0.000000
1981713,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,19.366666
1981714,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.683333

In [7]:
explore_df.value_counts()

CALENDAR_ID  SERVICE_ABBR  ADHERENCE_ID  DATE        ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID  OVERLOAD_ID  ROUTE_DIRECTION_NAME  TIME_POINT_ABBR  ROUTE_STOP_SEQUENCE  TRIP_EDGE  LATITUDE   LONGITUDE   SCHEDULED_TIME  ACTUAL_ARRIVAL_TIME  ACTUAL_DEPARTURE_TIME  ADHERENCE   SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV   ADJUSTED_EARLY_COUNT  ADJUSTED_LATE_COUNT  ADJUSTED_ONTIME_COUNT  STOP_CANCELLED  PREV_SCHED_STOP_CANCELLED  IS_RELIEF  BLOCK_STOP_ORDER  DWELL_IN_MINS
120211101    1             76447164      2021-11-01  7           1704        2088      297750   0            TO DOWNTOWN           HBHS             4.0                  1          36.107575  -86.812719  14:10:00        13:59:21             14:12:00               -2.000000   14.0            15.983333     1.983333  0                     0                    1                      0               0.0                        0          2                 12.650000        1
120220708    1             87197348      2022-07-08  56          5604        785       314581   0            TO DOWNTOWN           GXMADISO         10.0                 0          36.257412  -86.714068  09:26:00        09:22:55             09:27:16               -1.266666   10.0            7.133333     -2.866667  0                     0                    1                      0               0.0                        0          151               4.350000         1
                           87197345      2022-07-08  56          5604        785       314570   0            FROM DOWNTOWN         SAMS             12.0                 0          36.307973  -86.685963  08:55:00        08:51:10             08:55:58               -0.966666   10.0            5.983333     -4.016667  0                     0                    1                      0               0.0                        0          139               4.800000         1
                           87197344      2022-07-08  56          5604        785       314570   0            FROM DOWNTOWN         GXRVRGAT         11.0                 0          36.300827  -86.694508  08:51:00        08:48:42             08:48:42                2.300000   10.0            7.016666     -2.983334  1                     0                    0                      0               0.0                        0          137               0.000000         1
                           87197343      2022-07-08  56          5604        785       314570   0            FROM DOWNTOWN         GXMADISO         10.0                 0          36.256567  -86.714100  08:42:00        08:41:39             08:41:39                0.350000   10.0            9.633333     -0.366667  0                     0                    1                      0               0.0                        0          128               0.000000         1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ..
120220312    2             80476252      2022-03-12  56          5601        2253      305159   0            TO DOWNTOWN           GXFIVEPT         7.0                  0          36.179753  -86.750216  11:53:00        11:54:07             11:54:07               -1.116666   20.0            21.066666     1.066666  0                     0                    1                      0               0.0                        0          239               0.000000         1
                           80476251      2022-03-12  56          5601        2253      305159   0            TO DOWNTOWN           GXGRNFLD         8.0                  0          36.210362  -86.733625  11:45:00        11:42:40             11:45:42               -0.700000   20.0            20.666666     0.666666  0                     0                    1                      0               0.0                        0          230               3.033333         1
                           80476249      2022-03-12  56          5601        2253      305159   0            TO DOWNTOWN           GXRVRGAT         10.0                 1          36.300470  -86.695610  11:21:00        11:03:07             11:21:59               -0.983333   20.0            16.533333    -3.466667  0                     0                    1                      0               0.0                        0          212               18.866666        1
                           80476247      2022-03-12  56          5601        2253      305150   0            FROM DOWNTOWN         SAMS             11.0                 0          36.307973  -86.685963  11:01:00        10:57:19             11:02:00               -1.000000   20.0            17.616666    -2.383334  0                     0                    1                      0               0.0                        0          209               4.683333         1
120221101    1             91057851      2022-11-01  50          9950        1880      330003   0            TO DOWNTOWN           MLKS             10.0                 1          36.161008  -86.800851  15:20:00        14:57:12             15:07:06                12.900000  10.0            7.633333     -2.366667  1                     0                    0                      0               0.0                        0          2                 9.900000         1
Length: 1507318, dtype: int64

In [13]:
total_rows = explore_df['DATE'].value_counts().sum()
total_rows

1981715

In [15]:
explore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 30 columns):
 #   Column                     Dtype
---  ------                     -----
 0   CALENDAR_ID                int64
 1   SERVICE_ABBR               int64
 2   ADHERENCE_ID               int64
 3   DATE                       object
 4   ROUTE_ABBR                 int64
 5   BLOCK_ABBR                 int64
 6   OPERATOR                   int64
 7   TRIP_ID                    int64
 8   OVERLOAD_ID                int64
 9   ROUTE_DIRECTION_NAME       object
 10  TIME_POINT_ABBR            object
 11  ROUTE_STOP_SEQUENCE        float64
 12  TRIP_EDGE                  int64
 13  LATITUDE                   float64
 14  LONGITUDE                  float64
 15  SCHEDULED_TIME             object
 16  ACTUAL_ARRIVAL_TIME        object
 17  ACTUAL_DEPARTURE_TIME      object
 18  ADHERENCE                  float64
 19  SCHEDULED_HDWY             float64
 20  ACTUAL_HDWY                float64
 21  HDWY_DEV                   float64
 22  ADJUSTED_EARLY_COUNT       int64
 23  ADJUSTED_LATE_COUNT        int64
 24  ADJUSTED_ONTIME_COUNT      int64
 25  STOP_CANCELLED             int64
 26  PREV_SCHED_STOP_CANCELLED  float64
 27  IS_RELIEF                  int64
 28  BLOCK_STOP_ORDER           int64
 29  DWELL_IN_MINS              float64
dtypes: float64(9), int64(15), object(6)
memory usage: 453.6+ MB

In [19]:
eda = explore_df[['ROUTE_ABBR','TRIP_ID','ROUTE_DIRECTION_NAME', 'HDWY_DEV', 'SCHEDULED_HDWY', 'ROUTE_STOP_SEQUENCE','TRIP_EDGE','SCHEDULED_TIME','ACTUAL_ARRIVAL_TIME','ACTUAL_DEPARTURE_TIME','ADHERENCE','ADJUSTED_LATE_COUNT']]

In [20]:
eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ROUTE_ABBR             int64
 1   TRIP_ID                int64
 2   ROUTE_DIRECTION_NAME   object
 3   HDWY_DEV               float64
 4   SCHEDULED_HDWY         float64
 5   ROUTE_STOP_SEQUENCE    float64
 6   TRIP_EDGE              int64
 7   SCHEDULED_TIME         object
 8   ACTUAL_ARRIVAL_TIME    object
 9   ACTUAL_DEPARTURE_TIME  object
 10  ADHERENCE              float64
 11  ADJUSTED_LATE_COUNT    int64
dtypes: float64(4), int64(4), object(4)
memory usage: 181.4+ MB

In [23]:
edge_one = eda.loc[explore_df['TRIP_EDGE'] == 1]
edge_one

,ROUTE_ABBR,TRIP_ID,ROUTE_DIRECTION_NAME,HDWY_DEV,SCHEDULED_HDWY,ROUTE_STOP_SEQUENCE,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,ADJUSTED_LATE_COUNT
0,7,297750,TO DOWNTOWN,1.983333,14.0,4.0,1,14:10:00,13:59:21,14:12:00,-2.000000,0
3,50,297749,TO DOWNTOWN,NaN,NaN,7.0,1,15:10:00,15:04:31,15:10:17,-0.283333,0
5,22,298143,TO DOWNTOWN,NaN,NaN,15.0,1,04:42:00,04:29:30,04:41:50,0.166666,0
9,22,298162,FROM DOWNTOWN,NaN,NaN,4.0,1,05:15:00,05:05:26,05:16:49,-1.816666,0
12,22,298128,TO DOWNTOWN,-0.366667,35.0,15.0,1,05:42:00,05:33:39,05:43:03,-1.050000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1981705,50,329896,FROM DOWNTOWN,NaN,NaN,7.0,1,07:22:00,07:16:44,07:25:54,-3.900000,0
1981707,55,329899,TO DOWNTOWN,NaN,0.0,7.0,1,15:12:00,14:39:16,15:11:12,0.800000,0
1981709,50,329980,TO DOWNTOWN,NaN,NaN,6.0,1,15:05:00,14:46:41,15:07:36,-2.600000,0
1981711,50,330003,TO DOWNTOWN,-2.366667,10.0,10.0,1,15:20:00,14:57:12,15:07:06,12.900000,0
1981713,56,330011,TO DOWNTOWN,NaN,0.0,7.0,1,15:20:00,14:59:40,15:19:02,0.966666,0

In [24]:
edge_2 = eda1.loc[explore_df['ROUTE_ABBR'] == 50]
edge_2

,ROUTE_ABBR,TRIP_ID,ROUTE_DIRECTION_NAME,HDWY_DEV,SCHEDULED_HDWY,ROUTE_STOP_SEQUENCE,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,ADJUSTED_LATE_COUNT
3,50,297749,TO DOWNTOWN,NaN,NaN,7.0,1,15:10:00,15:04:31,15:10:17,-0.283333,0
4,50,297749,TO DOWNTOWN,NaN,NaN,5.0,2,15:27:00,15:16:59,15:16:59,10.016666,0
1650,50,299544,TO DOWNTOWN,NaN,NaN,14.0,1,04:39:00,04:29:38,04:41:06,-2.100000,0
1651,50,299544,TO DOWNTOWN,NaN,NaN,13.0,0,04:45:00,04:45:21,04:45:21,-0.350000,0
1652,50,299544,TO DOWNTOWN,NaN,NaN,12.0,0,04:52:00,04:51:28,04:51:28,0.533333,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1981706,50,329896,FROM DOWNTOWN,NaN,NaN,10.0,2,07:35:00,07:31:25,07:40:50,-5.833333,0
1981709,50,329980,TO DOWNTOWN,NaN,NaN,6.0,1,15:05:00,14:46:41,15:07:36,-2.600000,0
1981710,50,329980,TO DOWNTOWN,NaN,NaN,3.0,2,15:18:00,15:19:43,15:20:44,-2.733333,0
1981711,50,330003,TO DOWNTOWN,-2.366667,10.0,10.0,1,15:20:00,14:57:12,15:07:06,12.900000,0
1981712,50,330003,TO DOWNTOWN,NaN,NaN,4.0,2,15:37:00,15:10:16,15:10:16,26.733333,0