In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline
from colorama import Fore, Style

## Question 5. How much of a factor does the driver have on headway and on-time performance?

In [2]:
df= pd.read_csv('..\data\Headway Data.csv')

In [3]:
df

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981710,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.016666
1981711,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,7.633333,-2.366667,1,0,0,0,0.0,0,2,9.900000
1981712,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,3,0.000000
1981713,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,19.366666
1981714,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.683333

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 30 columns):
 #   Column                     Dtype
---  ------                     -----
 0   CALENDAR_ID                int64
 1   SERVICE_ABBR               int64
 2   ADHERENCE_ID               int64
 3   DATE                       object
 4   ROUTE_ABBR                 int64
 5   BLOCK_ABBR                 int64
 6   OPERATOR                   int64
 7   TRIP_ID                    int64
 8   OVERLOAD_ID                int64
 9   ROUTE_DIRECTION_NAME       object
 10  TIME_POINT_ABBR            object
 11  ROUTE_STOP_SEQUENCE        float64
 12  TRIP_EDGE                  int64
 13  LATITUDE                   float64
 14  LONGITUDE                  float64
 15  SCHEDULED_TIME             object
 16  ACTUAL_ARRIVAL_TIME        object
 17  ACTUAL_DEPARTURE_TIME      object
 18  ADHERENCE                  float64
 19  SCHEDULED_HDWY             float64
 20  ACTUAL_HDWY                float64
 21  HDWY_DEV                   float64
 22  ADJUSTED_EARLY_COUNT       int64
 23  ADJUSTED_LATE_COUNT        int64
 24  ADJUSTED_ONTIME_COUNT      int64
 25  STOP_CANCELLED             int64
 26  PREV_SCHED_STOP_CANCELLED  float64
 27  IS_RELIEF                  int64
 28  BLOCK_STOP_ORDER           int64
 29  DWELL_IN_MINS              float64
dtypes: float64(9), int64(15), object(6)
memory usage: 453.6+ MB

In [5]:
q_5 = df[['OPERATOR','ROUTE_ABBR','TRIP_ID','ROUTE_DIRECTION_NAME', 'HDWY_DEV', 'SCHEDULED_HDWY', 'ROUTE_STOP_SEQUENCE','TRIP_EDGE','SCHEDULED_TIME','ACTUAL_ARRIVAL_TIME','ACTUAL_DEPARTURE_TIME','ADHERENCE','ADJUSTED_LATE_COUNT']]

In [6]:
eda

,OPERATOR,ROUTE_ABBR,TRIP_ID,ROUTE_DIRECTION_NAME,HDWY_DEV,SCHEDULED_HDWY,ROUTE_STOP_SEQUENCE,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,ADJUSTED_LATE_COUNT
0,2088,7,297750,TO DOWNTOWN,1.983333,14.0,4.0,1,14:10:00,13:59:21,14:12:00,-2.000000,0
1,2088,7,297750,TO DOWNTOWN,3.333333,14.0,3.0,0,14:20:00,14:23:21,14:23:21,-3.350000,0
2,2088,7,297750,TO DOWNTOWN,NaN,NaN,2.0,2,14:39:00,14:36:46,14:59:11,-20.183333,1
3,2088,50,297749,TO DOWNTOWN,NaN,NaN,7.0,1,15:10:00,15:04:31,15:10:17,-0.283333,0
4,2088,50,297749,TO DOWNTOWN,NaN,NaN,5.0,2,15:27:00,15:16:59,15:16:59,10.016666,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981710,2355,50,329980,TO DOWNTOWN,NaN,NaN,3.0,2,15:18:00,15:19:43,15:20:44,-2.733333,0
1981711,1880,50,330003,TO DOWNTOWN,-2.366667,10.0,10.0,1,15:20:00,14:57:12,15:07:06,12.900000,0
1981712,1880,50,330003,TO DOWNTOWN,NaN,NaN,4.0,2,15:37:00,15:10:16,15:10:16,26.733333,0
1981713,1922,56,330011,TO DOWNTOWN,NaN,0.0,7.0,1,15:20:00,14:59:40,15:19:02,0.966666,0
1981714,1922,56,330011,TO DOWNTOWN,NaN,NaN,2.0,2,15:30:00,15:26:05,15:27:46,2.233333,0

In [7]:
driver = df[['ROUTE_ABBR','OPERATOR','ADHERENCE','ADJUSTED_ONTIME_COUNT','ADJUSTED_EARLY_COUNT','ADJUSTED_LATE_COUNT']]

In [10]:
df_1 = df[['OPERATOR','HDWY_DEV']]
df_1

         OPERATOR  HDWY_DEV
0            2088  1.983333
1            2088  3.333333
2            2088       NaN
3            2088       NaN
4            2088       NaN
...           ...       ...
1981710      2355       NaN
1981711      1880 -2.366667
1981712      1880       NaN
1981713      1922       NaN
1981714      1922       NaN

[1981715 rows x 2 columns]

In [11]:
df_1.info

<bound method DataFrame.info of          OPERATOR  HDWY_DEV
0            2088  1.983333
1            2088  3.333333
2            2088       NaN
3            2088       NaN
4            2088       NaN
...           ...       ...
1981710      2355       NaN
1981711      1880 -2.366667
1981712      1880       NaN
1981713      1922       NaN
1981714      1922       NaN

[1981715 rows x 2 columns]>

In [12]:
df_1_gb = df_1.groupby(['OPERATOR'],as_index = False)['HDWY_DEV'].sum()

In [13]:
df_1_gb

     OPERATOR   HDWY_DEV
0           0  27.049975
1          30  -8.250001
2          85  -9.833334
3          86 -88.300006
4          93  12.816665
..        ...        ...
453      2622 -54.933463
454      2623 -75.050044
455      2624  60.749987
456      2630 -24.483389
457     22554 -32.450001

[458 rows x 2 columns]

In [15]:
df_1_gb['HDWY_DEV'].plot(kind='scatter')

ValueError: plot kind scatter can only be used for data frames