In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv(r"C:\Users\jhank\Desktop\DA7\Projects\wego-shut_up_and_take_my_query\data\Headway Data.csv")
df.head(10)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
5,120211101,1,76447969,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,12.333333
6,120211101,1,76447970,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,9,0.000000
7,120211101,1,76447971,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,19,0.000000
8,120211101,1,76447972,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,35,0.000000
9,120211101,1,76447973,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,36,11.383333

In [3]:
te_df1= df.groupby(['ROUTE_ABBR'], as_index=False)['ADHERENCE', 'DWELL_IN_MINS'].mean().round()
te_df1

C:\Users\jhank\AppData\Local\Temp\ipykernel_11480\2304278101.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  te_df1= df.groupby(['ROUTE_ABBR'], as_index=False)['ADHERENCE', 'DWELL_IN_MINS'].mean().round()

   ROUTE_ABBR  ADHERENCE  DWELL_IN_MINS
0           3       -2.0            2.0
1           7       -2.0            4.0
2          22       -1.0            3.0
3          23       -1.0            3.0
4          50       -2.0            3.0
5          52       -2.0            3.0
6          55       -3.0            2.0
7          56       -2.0            3.0

In [ ]:
df.tail(10)

In [ ]:
df.info()

In [ ]:
oper = df['OPERATOR'].nunique()

In [ ]:
oper

In [ ]:
eda1 = df[['ROUTE_ABBR','TRIP_ID','ROUTE_DIRECTION_NAME', 'HDWY_DEV', 'SCHEDULED_HDWY', 'ROUTE_STOP_SEQUENCE','TRIP_EDGE','SCHEDULED_TIME','ACTUAL_ARRIVAL_TIME','ACTUAL_DEPARTURE_TIME','ADHERENCE','ADJUSTED_LATE_COUNT']]

In [ ]:
eda1.info()

Adherence is the amount of time between scheduled time and actual departure time. A negtive number means it left that long after the scheduled time, a postive number means it left before its scheduled_time.

Trip edge 1 is the start of a route, and 2 is the end.

In [ ]:
eda1.head()

In [ ]:
#All trip_edge #1
edge_one = eda1.loc[df['TRIP_EDGE'] == 1]

In [ ]:
edge_one.head(20)

DF by route #

In [ ]:
eda1['ROUTE_ABBR'].unique()

In [ ]:
route50 = eda1.loc[df['ROUTE_ABBR'] == 50]

### Clean table one. Route, trip id, trip edge(1), headway deviation, adherence

In [ ]:
dfone = df[['ROUTE_ABBR','TRIP_ID','TRIP_EDGE','HDWY_DEV','ADHERENCE']]

In [ ]:
dfone.columns = ['route','trip_id','trip_edge','hdwy_dev', 'adherence']

In [ ]:
df2 = dfone.loc[df['TRIP_EDGE'] == 1]

In [ ]:
df3 = dfone.loc[df['TRIP_EDGE'] == 2]

In [ ]:
df3

Work on driver data with ontime early and late counts

In [ ]:
driver = df[['ROUTE_ABBR','OPERATOR','ADHERENCE','ADJUSTED_ONTIME_COUNT','ADJUSTED_EARLY_COUNT','ADJUSTED_LATE_COUNT']]

In [ ]:
driver.groupby(['OPERATOR'])['ADJUSTED_EARLY_COUNT'].sum().plot(kind='bar')

In [ ]:
print(driver_plot)

In [ ]:
sns.barplot(data=driver_plot)