## How much of a factor does the driver have on headway and on-time performance? The driver is indicated by the OPERATOR variable.

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [33]:
df = pd.read_csv(r"C:\Users\jhank\Desktop\DA7\Projects\wego-shut_up_and_take_my_query\data\Headway Data.csv")

In [34]:
df.tail(10)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
1981705,120221101,1,91057372,2022-11-01,50,8601,2600,329896,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,23,9.166666
1981706,120221101,1,91057373,2022-11-01,50,8601,2600,329896,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,24,9.416666
1981707,120221101,1,91057381,2022-11-01,55,8604,2374,329899,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,31.933333
1981708,120221101,1,91057382,2022-11-01,55,8604,2374,329899,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,0.000000
1981709,120221101,1,91057723,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,20.916666
1981710,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.016666
1981711,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,7.633333,-2.366667,1,0,0,0,0.0,0,2,9.900000
1981712,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,3,0.000000
1981713,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,19.366666
1981714,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.683333

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 30 columns):
 #   Column                     Dtype
---  ------                     -----
 0   CALENDAR_ID                int64
 1   SERVICE_ABBR               int64
 2   ADHERENCE_ID               int64
 3   DATE                       object
 4   ROUTE_ABBR                 int64
 5   BLOCK_ABBR                 int64
 6   OPERATOR                   int64
 7   TRIP_ID                    int64
 8   OVERLOAD_ID                int64
 9   ROUTE_DIRECTION_NAME       object
 10  TIME_POINT_ABBR            object
 11  ROUTE_STOP_SEQUENCE        float64
 12  TRIP_EDGE                  int64
 13  LATITUDE                   float64
 14  LONGITUDE                  float64
 15  SCHEDULED_TIME             object
 16  ACTUAL_ARRIVAL_TIME        object
 17  ACTUAL_DEPARTURE_TIME      object
 18  ADHERENCE                  float64
 19  SCHEDULED_HDWY             float64
 20  ACTUAL_HDWY                float64
 21  HDWY_DEV                   float64
 22  ADJUSTED_EARLY_COUNT       int64
 23  ADJUSTED_LATE_COUNT        int64
 24  ADJUSTED_ONTIME_COUNT      int64
 25  STOP_CANCELLED             int64
 26  PREV_SCHED_STOP_CANCELLED  float64
 27  IS_RELIEF                  int64
 28  BLOCK_STOP_ORDER           int64
 29  DWELL_IN_MINS              float64
dtypes: float64(9), int64(15), object(6)
memory usage: 453.6+ MB

#### Create a dataframe containing relevant info.

In [36]:
time = df[['OPERATOR','ADJUSTED_ONTIME_COUNT','ADJUSTED_EARLY_COUNT','ADJUSTED_LATE_COUNT']]
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 4 columns):
 #   Column                 Dtype
---  ------                 -----
 0   OPERATOR               int64
 1   ADJUSTED_ONTIME_COUNT  int64
 2   ADJUSTED_EARLY_COUNT   int64
 3   ADJUSTED_LATE_COUNT    int64
dtypes: int64(4)
memory usage: 60.5 MB

Rename columns

In [38]:
time.columns=['operator','ontime','early','late']

In [39]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   operator  int64
 1   ontime    int64
 2   early     int64
 3   late      int64
dtypes: int64(4)
memory usage: 60.5 MB

Group by operator

In [40]:
time_gb = time.groupby(['operator'],as_index = False)['ontime','early','late'].sum()

C:\Users\jhank\AppData\Local\Temp\ipykernel_10900\1898847286.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  time_gb = time.groupby(['operator'],as_index = False)['ontime','early','late'].sum()

In [41]:
time_gb

     operator  ontime  early  late
0           0      98      1    26
1          30       0      2     0
2          85       0      1     0
3          86      24      3     1
4          93       5      0     1
..        ...     ...    ...   ...
453      2622     429     20    52
454      2623     195      2     3
455      2624      31      0    10
456      2630     190     10    28
457     22554       2      1     0

[458 rows x 4 columns]

In [44]:
time_gb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   operator  458 non-null    int64
 1   ontime    458 non-null    int64
 2   early     458 non-null    int64
 3   late      458 non-null    int64
 4   total     458 non-null    int64
dtypes: int64(5)
memory usage: 18.0 KB

Add column with total count

In [57]:
time_gb['total'] = (time_gb['ontime'] + time_gb['early'] + time_gb['late'])

In [58]:
time_gb.head()

   operator  ontime  early  late  total
0         0      98      1    26    125
1        30       0      2     0      2
2        85       0      1     0      1
3        86      24      3     1     28
4        93       5      0     1      6

Add column with avg on time rate

In [61]:
time_gb['pct'] = (time_gb['ontime']/time_gb['total'])*100

In [62]:
time_gb.head()

   operator  ontime  early  late  total        pct
0         0      98      1    26    125  78.400000
1        30       0      2     0      2   0.000000
2        85       0      1     0      1   0.000000
3        86      24      3     1     28  85.714286
4        93       5      0     1      6  83.333333