In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [35]:
df = pd.read_csv(r"C:\Users\jhank\Desktop\DA7\Projects\wego-shut_up_and_take_my_query\data\Headway Data.csv")
df.head(10)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
5,120211101,1,76447969,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,12.333333
6,120211101,1,76447970,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,9,0.000000
7,120211101,1,76447971,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,19,0.000000
8,120211101,1,76447972,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,35,0.000000
9,120211101,1,76447973,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,36,11.383333

In [36]:
df.tail(10)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
1981705,120221101,1,91057372,2022-11-01,50,8601,2600,329896,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,23,9.166666
1981706,120221101,1,91057373,2022-11-01,50,8601,2600,329896,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,24,9.416666
1981707,120221101,1,91057381,2022-11-01,55,8604,2374,329899,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,31.933333
1981708,120221101,1,91057382,2022-11-01,55,8604,2374,329899,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,0.000000
1981709,120221101,1,91057723,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,20.916666
1981710,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.016666
1981711,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,7.633333,-2.366667,1,0,0,0,0.0,0,2,9.900000
1981712,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,3,0.000000
1981713,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,19.366666
1981714,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.683333

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 30 columns):
 #   Column                     Dtype
---  ------                     -----
 0   CALENDAR_ID                int64
 1   SERVICE_ABBR               int64
 2   ADHERENCE_ID               int64
 3   DATE                       object
 4   ROUTE_ABBR                 int64
 5   BLOCK_ABBR                 int64
 6   OPERATOR                   int64
 7   TRIP_ID                    int64
 8   OVERLOAD_ID                int64
 9   ROUTE_DIRECTION_NAME       object
 10  TIME_POINT_ABBR            object
 11  ROUTE_STOP_SEQUENCE        float64
 12  TRIP_EDGE                  int64
 13  LATITUDE                   float64
 14  LONGITUDE                  float64
 15  SCHEDULED_TIME             object
 16  ACTUAL_ARRIVAL_TIME        object
 17  ACTUAL_DEPARTURE_TIME      object
 18  ADHERENCE                  float64
 19  SCHEDULED_HDWY             float64
 20  ACTUAL_HDWY                float64
 21  HDWY_DEV                   float64
 22  ADJUSTED_EARLY_COUNT       int64
 23  ADJUSTED_LATE_COUNT        int64
 24  ADJUSTED_ONTIME_COUNT      int64
 25  STOP_CANCELLED             int64
 26  PREV_SCHED_STOP_CANCELLED  float64
 27  IS_RELIEF                  int64
 28  BLOCK_STOP_ORDER           int64
 29  DWELL_IN_MINS              float64
dtypes: float64(9), int64(15), object(6)
memory usage: 453.6+ MB

In [38]:
eda1 = df[['ROUTE_ABBR','TRIP_ID','ROUTE_DIRECTION_NAME', 'HDWY_DEV', 'SCHEDULED_HDWY', 'ROUTE_STOP_SEQUENCE','TRIP_EDGE','SCHEDULED_TIME','ACTUAL_ARRIVAL_TIME','ACTUAL_DEPARTURE_TIME','ADHERENCE','ADJUSTED_LATE_COUNT']]

In [39]:
eda1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ROUTE_ABBR             int64
 1   TRIP_ID                int64
 2   ROUTE_DIRECTION_NAME   object
 3   HDWY_DEV               float64
 4   SCHEDULED_HDWY         float64
 5   ROUTE_STOP_SEQUENCE    float64
 6   TRIP_EDGE              int64
 7   SCHEDULED_TIME         object
 8   ACTUAL_ARRIVAL_TIME    object
 9   ACTUAL_DEPARTURE_TIME  object
 10  ADHERENCE              float64
 11  ADJUSTED_LATE_COUNT    int64
dtypes: float64(4), int64(4), object(4)
memory usage: 181.4+ MB

Adherence is the amount of time between scheduled time and actual departure time. A negtive number means it left that long after the scheduled time, a postive number means it left before its scheduled_time.

trip edge 1 is the start of a route, and 2 is the end.

In [40]:
eda1.head()

,ROUTE_ABBR,TRIP_ID,ROUTE_DIRECTION_NAME,HDWY_DEV,SCHEDULED_HDWY,ROUTE_STOP_SEQUENCE,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,ADJUSTED_LATE_COUNT
0,7,297750,TO DOWNTOWN,1.983333,14.0,4.0,1,14:10:00,13:59:21,14:12:00,-2.000000,0
1,7,297750,TO DOWNTOWN,3.333333,14.0,3.0,0,14:20:00,14:23:21,14:23:21,-3.350000,0
2,7,297750,TO DOWNTOWN,NaN,NaN,2.0,2,14:39:00,14:36:46,14:59:11,-20.183333,1
3,50,297749,TO DOWNTOWN,NaN,NaN,7.0,1,15:10:00,15:04:31,15:10:17,-0.283333,0
4,50,297749,TO DOWNTOWN,NaN,NaN,5.0,2,15:27:00,15:16:59,15:16:59,10.016666,0

In [47]:
#All trip_edge #1
edge_one = eda1.loc[df['TRIP_EDGE'] == 1]

In [46]:
edge_one.head(20)

,ROUTE_ABBR,TRIP_ID,ROUTE_DIRECTION_NAME,HDWY_DEV,SCHEDULED_HDWY,ROUTE_STOP_SEQUENCE,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,ADJUSTED_LATE_COUNT
309,22,298390,TO DOWNTOWN,NaN,NaN,1.0,2,06:25:00,06:20:26,06:20:26,4.566666,0
315,22,298391,TO DOWNTOWN,NaN,NaN,1.0,2,07:25:00,07:18:48,07:18:48,6.200000,0
321,22,298392,TO DOWNTOWN,NaN,NaN,1.0,2,08:25:00,08:20:30,08:20:30,4.500000,0
327,22,298393,TO DOWNTOWN,NaN,NaN,1.0,2,09:25:00,09:22:32,09:22:32,2.466666,0
333,22,298394,TO DOWNTOWN,NaN,NaN,1.0,2,10:15:00,10:09:48,10:09:48,5.200000,0
339,22,298395,TO DOWNTOWN,NaN,NaN,1.0,2,11:05:00,11:02:36,11:02:36,2.400000,0
345,22,298396,TO DOWNTOWN,NaN,NaN,1.0,2,11:55:00,11:52:02,11:52:02,2.966666,0
351,22,298397,TO DOWNTOWN,NaN,NaN,1.0,2,12:45:00,12:46:27,12:46:27,-1.450000,0
357,22,298398,TO DOWNTOWN,NaN,NaN,1.0,2,13:35:00,13:32:54,13:32:54,2.100000,0
363,22,298399,TO DOWNTOWN,NaN,NaN,1.0,2,14:25:00,14:22:34,14:22:34,2.433333,0
369,22,298400,TO DOWNTOWN,NaN,NaN,1.0,2,15:15:00,15:12:28,15:12:28,2.533333,0
375,22,298401,TO DOWNTOWN,NaN,NaN,1.0,2,16:05:00,16:00:34,16:00:34,4.433333,0
381,22,298402,TO DOWNTOWN,NaN,NaN,1.0,2,16:55:00,16:50:12,16:50:12,4.800000,0
387,22,298403,TO DOWNTOWN,NaN,NaN,1.0,2,17:45:00,17:42:34,17:42:34,2.433333,0
395,22,298432,TO DOWNTOWN,NaN,NaN,1.0,2,05:55:00,05:50:46,05:50:46,4.233333,0
401,22,298418,TO DOWNTOWN,NaN,NaN,1.0,2,06:55:00,06:54:12,06:54:12,0.800000,0
407,22,298419,TO DOWNTOWN,NaN,NaN,1.0,2,07:55:00,07:54:32,07:54:32,0.466666,0
413,22,298420,TO DOWNTOWN,NaN,NaN,1.0,2,08:55:00,08:52:34,08:52:34,2.433333,0
419,22,298421,TO DOWNTOWN,NaN,NaN,1.0,2,09:55:00,09:52:34,09:52:34,2.433333,0
425,22,298422,TO DOWNTOWN,NaN,NaN,1.0,2,10:40:00,10:34:56,10:34:56,5.066666,0

In [44]:
edge_two = eda1.loc[df['ROUTE_ABBR'] == 50]
edge_two

,ROUTE_ABBR,TRIP_ID,ROUTE_DIRECTION_NAME,HDWY_DEV,SCHEDULED_HDWY,ROUTE_STOP_SEQUENCE,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,ADJUSTED_LATE_COUNT
3,50,297749,TO DOWNTOWN,NaN,NaN,7.0,1,15:10:00,15:04:31,15:10:17,-0.283333,0
4,50,297749,TO DOWNTOWN,NaN,NaN,5.0,2,15:27:00,15:16:59,15:16:59,10.016666,0
1650,50,299544,TO DOWNTOWN,NaN,NaN,14.0,1,04:39:00,04:29:38,04:41:06,-2.100000,0
1651,50,299544,TO DOWNTOWN,NaN,NaN,13.0,0,04:45:00,04:45:21,04:45:21,-0.350000,0
1652,50,299544,TO DOWNTOWN,NaN,NaN,12.0,0,04:52:00,04:51:28,04:51:28,0.533333,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1981706,50,329896,FROM DOWNTOWN,NaN,NaN,10.0,2,07:35:00,07:31:25,07:40:50,-5.833333,0
1981709,50,329980,TO DOWNTOWN,NaN,NaN,6.0,1,15:05:00,14:46:41,15:07:36,-2.600000,0
1981710,50,329980,TO DOWNTOWN,NaN,NaN,3.0,2,15:18:00,15:19:43,15:20:44,-2.733333,0
1981711,50,330003,TO DOWNTOWN,-2.366667,10.0,10.0,1,15:20:00,14:57:12,15:07:06,12.900000,0
1981712,50,330003,TO DOWNTOWN,NaN,NaN,4.0,2,15:37:00,15:10:16,15:10:16,26.733333,0

Clean table one. Route, trip id, trip edge, headway deviation, adherence

In [50]:
dfone = df[['ROUTE_ABBR','TRIP_ID','TRIP_EDGE','HDWY_DEV','ADHERENCE']]

In [51]:
dfone

         ROUTE_ABBR  TRIP_ID  TRIP_EDGE  HDWY_DEV  ADHERENCE
0                 7   297750          1  1.983333  -2.000000
1                 7   297750          0  3.333333  -3.350000
2                 7   297750          2       NaN -20.183333
3                50   297749          1       NaN  -0.283333
4                50   297749          2       NaN  10.016666
...             ...      ...        ...       ...        ...
1981710          50   329980          2       NaN  -2.733333
1981711          50   330003          1 -2.366667  12.900000
1981712          50   330003          2       NaN  26.733333
1981713          56   330011          1       NaN   0.966666
1981714          56   330011          2       NaN   2.233333

[1981715 rows x 5 columns]